@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: url("Images/bg-pattern-bottom-desktop.svg"), url("Images/bg-pattern-top-desktop.svg");
  background-position: bottom -160px right 0px, top -50px left 0px;
  background-repeat: no-repeat;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}

main {
  border: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(15, 1fr);
  grid-row-gap: 3%;
}

main .bigtext {
  grid-row: 3 / span 5;
  grid-column: 3 / span 4;
  border: none;
  color: #502050;
  font-size: 2.5em;
  font-weight: 900;
}

main .smalltext {
  border: none;
  grid-row: 8 / span 2;
  grid-column: 3 / span 4;
  color: #ee68a4;
  font-size: 0.75em;
  font-weight: 500;
}

main .ratingsone {
  border: none;
  grid-row: 3 / span 2;
  grid-column: 8 / span 4;
  width: 100%;
}

main .ratingstwo {
  border: none;
  grid-row: 5 / span 2;
  grid-column: 9 / span 4;
}

main .ratingsthree {
  border: none;
  grid-row: 7 / span 2;
  grid-column: 10 / span 4;
}

main .colton {
  border: none;
  grid-row: 11 / span 6;
  grid-column: 3 / span 3;
}

main .irene {
  border: none;
  grid-row: 12 / span 6;
  grid-column: 7 / span 3;
}

main .Anne {
  border: none;
  grid-row: 13 / span 6;
  grid-column: 11 / span 3;
}

#firstrating, #secondrating, #thirdrating {
  background-color: #f7f2f7;
  border-radius: 10px;
  color: #502050;
  font-weight: 900;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  min-width: 320px;
}

#firstrating .starimage, #secondrating .starimage, #thirdrating .starimage {
  width: 15px;
  height: 15px;
  margin-right: 2%;
}

#firstrating #firststar, #secondrating #firststar, #thirdrating #firststar {
  padding-left: 6%;
}

#firstrating span, #secondrating span, #thirdrating span {
  margin-left: 6%;
}

.person {
  background-color: #502050;
  border-radius: 5px;
  padding-top: 34px;
  padding-left: 7%;
  padding-right: 7%;
  width: 120%;
}

.person blockquote {
  color: white;
  margin-top: 15px;
  font-size: 0.7em;
}

.person .customerinfo {
  display: flex;
}

.person .customerinfo .name {
  color: white;
  font-size: 0.7em;
  font-weight: 900;
  margin-left: 20%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2px;
}

.person .customerinfo .status {
  color: #ee68a4;
  margin-left: 20%;
  font-size: 0.7em;
  width: 100%;
  font-weight: 400;
}

.person .customerinfo .imagecontainer {
  border-radius: 50px;
}

.person .customerinfo .imagecontainer img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {
  html, body {
    font-size: 21px;
  }
  main {
    padding-top: 50px;
    width: 80%;
    height: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1.5fr 1fr 1fr 1fr 2.2fr 2.2fr 2.2fr;
    grid-template-areas: "bigtext" "smalltext" "firstrating" "secondrating" "thirdrating" "colton" "irene" "anne";
  }
  main .bigtext {
    grid-area: bigtext;
    text-align: center;
    font-size: 2.0em;
  }
  main .smalltext {
    grid-area: smalltext;
    text-align: center;
  }
  main .ratingsone {
    grid-area: firstrating;
    border-radius: 0px !important;
    height: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .ratingstwo {
    grid-area: secondrating;
    border-radius: 0px !important;
    height: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .ratingsthree {
    grid-area: thirdrating;
    border-radius: 0px !important;
    height: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .colton {
    grid-area: colton;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }
  main .irene {
    grid-area: irene;
    width: 100%;
    padding-bottom: 40px;
  }
  main .Anne {
    grid-area: anne;
    width: 100%;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 1150px) {
  html, body {
    font-size: 19px;
  }
}
/*# sourceMappingURL=style.css.map */