@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$main-color: hsl(300, 43%, 22%);
$small-text-color: hsl(333, 80%, 67%);
$ratings-background-color: hsl(300, 24%, 96%);
$border: none;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: url("Images/bg-pattern-bottom-desktop.svg"), url("Images/bg-pattern-top-desktop.svg");
    background-position: bottom -160px right 0px,
                         top -50px left 0px ;
    background-repeat: no-repeat;
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
}

main {
    border: $border;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(15, 1fr);
    grid-row-gap: 3%;
    

    .bigtext {
        grid-row: 3 / span 5;
        grid-column: 3 / span 4;
        border: $border;
        color: $main-color;
        font-size: 2.5em;
        font-weight: 900;
    }

    .smalltext {
        border: $border;
        grid-row: 8 / span 2;
        grid-column: 3 / span 4;
        color: $small-text-color;
        font-size: 0.75em;
        font-weight: 500;
    }

    .ratingsone {
        border: $border;
        grid-row: 3 / span 2;
        grid-column: 8 / span 4;
        width: 100%;
        
    }

    .ratingstwo {
        border: $border;
        grid-row: 5 / span 2;
        grid-column: 9 / span 4;
    }

    .ratingsthree {
        border: $border;
        grid-row: 7 / span 2;
        grid-column: 10 / span 4;
    }

    .colton {
        border: $border;
        grid-row: 11 / span 6;
        grid-column: 3 / span 3;
    }

    .irene {
        border: $border;
        grid-row: 12 / span 6;
        grid-column: 7 / span 3;
    }

    .Anne {
        border: $border;
        grid-row: 13 / span 6;
        grid-column: 11 / span 3;
    }
}

#firstrating, #secondrating, #thirdrating {
    background-color: $ratings-background-color;
    border-radius: 10px;
    color: $main-color;
    font-weight: 900;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    min-width: 320px;

    .starimage {
        width: 15px;
        height: 15px;
        margin-right: 2%;
    }

    #firststar{
        padding-left: 6%;
    }

    span {
        margin-left: 6%;
    }
}

.person {
    background-color: $main-color;
    border-radius: 5px;
    padding-top: 34px;
    padding-left: 7%;
    padding-right: 7%;
    width: 120%;  

    blockquote {
        color: white;
        margin-top: 15px;
        font-size: 0.7em;
    }

    .customerinfo {
        display: flex;

        .name {
            color: white;
            font-size: 0.7em;
            font-weight: 900;
            margin-left: 20%;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 2px;
        }

        .status {
            color: $small-text-color;
            margin-left: 20%;
            font-size: 0.7em;
            width: 100%;
            font-weight: 400;
        }

        .imagecontainer {
            border-radius: 50px;

            img {
                border-radius: 50px;
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    html, body {
        font-size: 21px;
    }
    main {
        padding-top: 50px;
        width: 80% ;
        height: 100%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1.5fr 1fr 1fr 1fr 2.2fr 2.2fr 2.2fr;
        grid-template-areas: "bigtext"
                             "smalltext"
                             "firstrating"
                             "secondrating"
                             "thirdrating"
                             "colton"
                             "irene"
                             "anne";
        
        .bigtext {
            grid-area: bigtext;
            text-align: center;
            font-size: 2.0em;
        }

        .smalltext {
            grid-area: smalltext;
            text-align: center;
        }

        .ratingsone {
            grid-area: firstrating;
            border-radius: 0px !important;
            height: 60px;
            flex-wrap: wrap;
            justify-content: center;
        }

        .ratingstwo {
            grid-area: secondrating;
            border-radius: 0px !important;
            height: 60px;
            flex-wrap: wrap;
            justify-content: center;
        }

        .ratingsthree {
            grid-area: thirdrating;
            border-radius: 0px !important;
            height: 60px;
            flex-wrap: wrap;
            justify-content: center;
        }

        .colton {
            grid-area: colton;
            width: 100%;
            height: 100%;
            padding-bottom: 40px;
        }

        .irene {
            grid-area: irene;
            width: 100%;
            padding-bottom: 40px;
        }

        .Anne {
            grid-area: anne;
            width: 100%;
            padding-bottom: 40px;
        }
    }

}

@media only screen and (min-width: 1150px) {
    html, body {
        font-size: 19px;
    }
}